# Log files
*.log

# Build artifacts
dist

# Project dependencies
/node_modules/*

# Non-git hidden files
.*
!.git*

# Allow CircleCI configuration
!.circleci

# Linting, intendation, etc
!.eslintrc.js
!.editorconfig

# Development environment settings
!.env
